@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@300;400;500;600;700;800&family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  min-height: 100vh;
  background-color: rgb(54, 54, 73);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 2rem;
  padding: 1rem;
  border-bottom: 3px solid transparent;
}


.navbar-link{
  text-decoration: none;
  color: #fff;
}

.navbar-link.active{
  border-bottom: 3px solid white;
}