@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@300;400;500;600;700;800&family=Ubuntu:wght@400;500;700&display=swap');

:root{
  --primaryColor: rgb(54, 54, 73);
  --secondaryColor: rgb(85, 85, 116);
  --white: #fff;
  --grey: rgb(114, 114, 114);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  min-height: 100vh;
  background-color: var(--primaryColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 3px solid transparent;
}

.navbar-item{
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.navbar-link{
  text-decoration: none;
  color: var(--grey);
}

.underline {
  margin-top: 1rem;
	height: 4px;
	background-color: var(--grey);
	width: calc(100% + 2rem);
	transition: width 0.2s, background-color .6s;
  border-radius: 30px;
}

.navbar-link.active{
  color: var(--white);
}

.navbar-link.active + .underline{
  background-color: var(--white);
}

.compare-container{
  display: flex;
  padding: 1rem;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.service-container{
  width: 100%;
  background-color: var(--secondaryColor);
  border-radius: 20px;
  padding: 2rem;
  /* box-shadow: 0px 5px 20px 3px #9db4d6; */
}

.weather-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.date{
  color: rgb(218, 218, 218);
}

.location{
  padding: 1rem 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.weather-data{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.weather-data-item{
  text-align: center;
  padding: 0 1.5rem;
}

.weather-data-name{
  color: rgb(218, 218, 218);
  margin-bottom: 0.5rem;
}

.weather-data-value{
  font-size: 1.5rem;
}

.media-container{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.media-container div{
  margin: 1rem;
}

.days-container{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.next-day{
  height: 100px;
  width: 100px;
  background-color: rgba(54, 54, 73, 0.795);
  border-radius: 20px;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.next-day-icon{
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.459);
}

.next-day-name{
  margin-top: 1rem;
  color: var(--white);
}